In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt

In [9]:
pd.options.display.float_format = '{:20,.3f}'.format
dataFull = pd.read_csv('data/Fish.csv')
data = dataFull.loc[dataFull['Species'] == "Bream"]
sample_input = np.c_[data['Length1'], data['Length2'], data['Length3'], data['Height'], data['Width']]
sample_output = np.c_[data['Weight']]
data.head()

,Species,Weight,Length1,Length2,Length3,Height,Width
0,Bream,242.000,23.200,25.400,30.000,11.520,4.020
1,Bream,290.000,24.000,26.300,31.200,12.480,4.306
2,Bream,340.000,23.900,26.500,31.100,12.378,4.696
3,Bream,363.000,26.300,29.000,33.500,12.730,4.455
4,Bream,430.000,26.500,29.000,34.000,12.444,5.134

In [10]:
lm = LinearRegression()
lm.fit(sample_input, sample_output)

LinearRegression()

In [14]:
predictions = lm.predict(sample_input[14].reshape(1, -1))
print(predictions)

[[629.5843666]]