In [45]:
import pandas as pd
import numpy as np

In [46]:
dataset = pd.read_excel('data/Data.xls')
dataset.head()

,Employee Id,First Name,Last Name,Department,Age,Experience,Salary
0,1,Camden,Savage,Asset Management,38.0,23.0,46975
1,2,Justina,Mcconnell,Customer Service,26.0,10.0,30711
2,3,Stewart,Moon,Human Resources,NaN,14.0,25049
3,4,Tobias,Fletcher,NaN,NaN,12.0,33309
4,5,Raja,Sims,Customer Service,NaN,NaN,25274

In [38]:
print(dataset.shape)
dataset.isna().sum()

(100, 7)

Employee Id     0
First Name      0
Last Name       0
Department     10
Age             6
Experience     14
Salary          0
dtype: int64

In [39]:
dataset = dataset.dropna()
print(dataset.shape)

(81, 7)

In [40]:
dataset = pd.read_excel('data/Data.xls')
dataset[['Experience']] = dataset[['Experience']].fillna(dataset[['Experience']].mean())
dataset[['Department']] = dataset[['Department']].fillna('Customer Service')
print(dataset.shape)

(100, 7)

In [55]:
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import MinMaxScaler
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer

dataset = pd.read_excel('data/Data.xls')

column_trans = ColumnTransformer(
[('imp_col1', SimpleImputer(strategy='median'), [0,4,5,6]),
 ('imp_col2', SimpleImputer(missing_values=np.nan, strategy='most_frequent'), [1,2,3])],
remainder='passthrough')
dataset = column_trans.fit_transform(dataset)

In [104]:
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import MinMaxScaler
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

dataset = pd.read_excel('data/Data.xls')
dataset = dataset.drop(['Employee Id','First Name','Last Name'], axis = 1)
print(dataset.shape)

numerical_ix = dataset.select_dtypes(include=['int64', 'float64']).columns
categorical_ix = dataset.select_dtypes(include=['object', 'bool']).columns

numeric_transformer = Pipeline(steps=[
    ('nu_imputer', SimpleImputer(strategy='median')),
    ('scaler', MinMaxScaler())])

cat_transformer = Pipeline(steps=[
    ('cat_imputer', SimpleImputer(strategy='most_frequent')),
    ('encoder', OneHotEncoder())])

t1 = [('numeric', numeric_transformer, numerical_ix), 
     ('cat', cat_transformer, categorical_ix)]

col_transform_1 = ColumnTransformer(transformers=t1)
dataset = col_transform_1.fit_transform(dataset)

print(dataset.shape)
dataset.toarray()[:5,:]

(100, 4)
(100, 18)

array([[0.41666667, 0.75862069, 0.94395151, 0.        , 0.        ,
        1.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        ],
       [0.08333333, 0.31034483, 0.5244519 , 0.        , 0.        ,
        0.        , 0.        , 1.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        ],
       [0.5       , 0.44827586, 0.37841114, 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 1.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        ],
       [0.5       , 0.37931034, 0.59146247, 0.        , 1.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        ],
       [0.5       , 0.51724138, 0.3842146 , 0.        , 0.        ,
        0.        , 0.        , 1.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        ]])